<div id="LayoutC">

({php})

 //配列をファイルから読み込み
$IINE = unserialize(file_get_contents("//public_html/sns2/public_html/iine.dat"));

$hoge = $this->get_template_vars('c_commu');
$CID=$hoge[c_commu_id];

$FN="//public_html/add/top/up/".$CID.".jpg";
if (file_exists($FN)) {
	$NTT=time();
	$ZZZ="//public_html/add/top/up/".$CID.".jpg?".$NTT;
	$ZZZ="//public_html/add/top/up/".$CID.".jpg";
	echo "
	<style>
	#globalNav {
	background: url(".$ZZZ.") 0 0 no-repeat;
	}
	</style>
	";
}
({/php})

({ext_include file="inc_c_com_topic_find.tpl"})

<div id="Center">

({if !$err_msg || !$is_writable_comment})

({* {{{ topicDetailBox *})
<div class="dparts topicDetailBox"><div class="parts">
<div class="partsHeading"><h3>[({$c_commu.name})] トピック　<a id="LCC" href=#Footer>(最新コメント)</a></h3></div>
<dl>
<dt>({$c_topic.r_datetime|date_format:"%Y年%m月%d日"})<br />({$c_topic.r_datetime|date_format:"%H:%M"})</dt>
<dd>
<div class="title">
<p>({$c_topic.name})</p>
</div>
<div class="name">
<p><a href="({t_url m=pc a=page_f_home})&amp;target_c_member_id=({$c_topic.c_member_id})">({$c_topic.nickname})</a></p>
</div>
<div class="body">
({if $c_topic.image_filename1||$c_topic.image_filename2||$c_topic.image_filename3})
<ul class="photo">
({if $c_topic.image_filename1})<li><a href="({t_img_url filename=$c_topic.image_filename1})" target="_blank"><img src="({t_img_url filename=$c_topic.image_filename1 w=120 h=120})" alt="" /></a></li>({/if})
({if $c_topic.image_filename2})<li><a href="({t_img_url filename=$c_topic.image_filename2})" target="_blank"><img src="({t_img_url filename=$c_topic.image_filename2 w=120 h=120})" alt="" /></a></li>({/if})
({if $c_topic.image_filename3})<li><a href="({t_img_url filename=$c_topic.image_filename3})" target="_blank"><img src="({t_img_url filename=$c_topic.image_filename3 w=120 h=120})" alt="" /></a></li>({/if})
</ul>
({/if})
<div style="border-top:0px;padding:10px 5px;" class="text">

<script src="//ajax.googleapis.com/ajax/libs/prototype/1.7.2.0/prototype.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
jQuery.noConflict();
var JQ$ = jQuery;
</script>

({php})
//トピ本文変更
$hoge = $this->get_template_vars('c_topic');
//print_r($hoge );
$CID=$hoge[c_commu_topic_id];
$CID2=$hoge[c_commu_topic_comment_id];//コメントID
$CON=$hoge[body];
//------------書き換え----------------------------------------------------------------------
//$CON= str_replace("恩田", "<hr>ゆゆゆみ<hr>", $CON); 

//行末問題対策
$CON =$CON ."\n";
//行末問題対策

$CON = preg_replace('/####(.*?)\n/', '<h3>${1}</h3>', $CON);
$CON = preg_replace('/###(.*?)\n/', '<h2>${1}</h2>', $CON);
$CON = preg_replace('/##(.*?)\n/', '<h1>${1}</h1>', $CON);

$CON = preg_replace('/\*\*\*\((.*?)\)(.*?)\*\*\*/', '<span class=LL2 style="font-size:${1}px">${2}</span>', $CON);
$CON = preg_replace('/\*\*\((.*?)\)(.*?)\*\*/', '<span class=LL style="background: linear-gradient(transparent 40%, ${1} 40%)">${2}</span>', $CON);
$CON = preg_replace('/\*\*(.*?)\*\*/', '<span class=LL>${1}</span>', $CON);

$CON = preg_replace('/;;(.*?)\n/', '<blockquote>${1}</blockquote>', $CON);

//---スライド
$pattern = "/\[slide\](.*?)\[\/slide\]/s";
if(@preg_match_all($pattern,$CON,$match)){ //最短一致で全てを取り出す
	foreach ($match[0] as $hoge2) { 
		$hoge2b=str_replace("[slide]\n","<div class=\"ticker\" rel=\"fade\"><ul><li>",$hoge2);
		$hoge2b=str_replace("\n[/slide]","</li></ul></div>",$hoge2b);
		$hoge2b=str_replace("\n","</li><li>",$hoge2b);
		$CON=str_replace($hoge2,$hoge2b,$CON);

		echo $test="
<script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js\"></script><script type=\"text/javascript\">jQuery.noConflict();var JQ$ = jQuery;</script><script type=\"text/javascript\" src=\"http://main.jp/js/jQuerySimpleNewsTicker/css/js2.js\"></script><link rel=\"stylesheet\" type=\"text/css\" href=\"http://main.jp/js/jQuerySimpleNewsTicker/css/common3.css\">";

	}
}
//---スライド

//---ボタン開け閉め
//2.正規表現
$pattern = "/\[hide\](.*?)\[\/hide\]/s";
if(@preg_match_all($pattern,$CON,$match)){ //最短一致で全てを取り出す
	$i=1;
	foreach ($match[0] as $hoge2) { 
		$CON = str_replace($hoge2, "<span id=\"slide".$CID."_".$i."\"><img id=HDD style=\"padding:0px 5px 0px 15px\" src=/etc/tool.png></span><nav id=\"menubar".$CID."_".$i."\" style=\"padding:5px 10px;display: none;\">".$hoge2."</nav>", $CON );
	$i++;
	}
}
$CON=str_replace("[hide]","",$CON);
$CON=str_replace("[/hide]","",$CON);
//-------------ボタン開け閉め-------------
$j=1;	
while($j < $i){
$CONJ .= <<< EOM
<script>JQ$('#slide{$CID}_{$j}').click(function(){if (JQ$('#menubar{$CID}_{$j}').css('display') == 'none') {JQ$('#menubar{$CID}_{$j}').slideDown('slow');} else {JQ$('#menubar{$CID}_{$j}').slideUp('fast');}});</script>
EOM;
$j++;
}

$CON=$CON.$CONJ;
unset($i);
unset($j);
unset($CONJ);

//テーブル
$CON=str_replace("\t","</td><td>",$CON);
$CON = preg_replace('/<td>(.*?)\n/', '<td>${1}</td></tr>XXX', $CON);
$CON=str_replace("XXX</td>","<tr>",$CON);
$CON=str_replace("\n</td>","<br/><table><tbody><tr>",$CON);
$CON=str_replace("</tr>XXX","</tr></tbody></table>",$CON);

$CON = preg_replace('/---\n/', '<hr/>', $CON);
$CON = preg_replace('/- (.*?)\n/', '<li id=XX>${1}</li>', $CON);

//-----------------------------------------------------------------------------------------------------------------------------
//画像リンク
//-----------------------------------------------------------------------------------------------------------------------------

$CON = mb_ereg_replace("(https?)(://[[:alnum:]\+\$\;\?\.%,!#~*/:@&=_-]+)(.jpg|.jpeg|.png|.gif)( |　|\n)", '<a class=iframe href="\\1\2\3"><img style="max-width:100%;" src="\\1\2\3"></a>\4' , $CON,'i');
$CON = mb_ereg_replace("(https?)(://[[:alnum:]\+\$\;\?\.%,!#~*/:@&=_-]+)(.jpg|.jpeg|.png|.gif)</li>", '<a class=iframe href="\\1\2\3"><img style="max-width:100%;" src="\\1\2\3"></a></li>' , $CON,'i');
//$CON = mb_ereg_replace("(https?)(://[[:alnum:]\+\$\;\?\.%,!#~*/:@&=_-]+)(.jpg|.jpeg|.png|.gif)$", '<a class=iframe href="\\1\2\3"><img style="max-width:100%;" src="\\1\2\3"></a>' , $CON,i);

// aリンク
//ボタン
$CON = mb_ereg_replace("(https?)(://mimi.jp/set/)([a-zA-Z0-9_\-\?\/\=\&]+)", '<iframe style="width:430px; height:150px" align="top" src="\\1\2\3" frameborder="0" scrolling="no"></iframe>' , $CON);
//スライドショー
$CON = mb_ereg_replace("(https?)(://mimi.jp/etc/up-wef23f82fouhwq-_wef/_slide.php)([a-zA-Z0-9_\-\.\?\=]+)", '<iframe style="width:430px; height:400px" align="top" src="\\1\2\3" frameborder="0" scrolling="no"></iframe>' , $CON);
//フレーム表示用
$CON = mb_ereg_replace("(https?)(://mimi.jp/etc/ph/clanceyp-youtube-video-gallery-9a234de/)([a-zA-Z0-9_\-\.\?\=\/&]+)", '<iframe style="width:430px; height:400px" align="top" src="\\1\2\3" frameborder="0" scrolling="no"></iframe>' , $CON);

//動画
$CON = mb_ereg_replace("(https?)(://www.youtube.com/watch\?v\=)([a-zA-Z0-9_]+)", '<div style="border-top:none;text-align:center"><iframe style="width:400px; height:300px" align="top" src="https://www.youtube.com/embed/\3" frameborder="0" allowfullscreen></iframe></div>' , $CON);

//aリンク
$CON = mb_ereg_replace("(https?)(://[[:alnum:]\+\$\;\?\.%,!#~*/:@&=_-]+)(?!.jpg|.png|.gif)( |　|</td>)", ' <a target=_blank href="\\1\2">\\1\\2</a> ' , $CON);
$CON = mb_ereg_replace("(https?)(://[[:alnum:]\+\$\;\?\.%,!#~*/:@&=_-]+)(?!jpg|.png|.gif)(\n)", '<a target=_blank href="\\1\2">\\1\\2</a><br/>' , $CON);
//$CON = mb_ereg_replace("(https?)(://[[:alnum:]\+\$\;\?\.%,!#~*/:@&=_-]+)(?!.jpg|.png|.gif)$", ' <a target=_blank href="\\1\2">\\1\\2</a> ' , $CON);

//ボタンでリンク
//直接ボタン
$CON = mb_ereg_replace("(\[\[(.*?)\|)(ttps?)(://[[:alnum:]\+\$\;\?\.%,!#~*/:@&=_-]+)(\]\])( |　|</td>|\n)", ' <a id=tooltip2 target=_blank href="h\3\4"><span>h\3\4</span>\2</a>' , $CON);
$CON = mb_ereg_replace("(\[\[(.*?)\|)(tps?)(://[[:alnum:]\+\$\;\?\.%,!#~*/:@&=_-]+)(\]\])( |　|</td>|\n)", ' <a  class=iframe id=tooltip2 target=_blank href="ht\3\4"><span>ht\3\4</span>\2</a>' , $CON);

$CON = mb_ereg_replace("(ttps?)(://[[:alnum:]\+\$\;\?\.%,!#~*/:@&=_-]+)( |　|</td>|\n)", ' <a id=tooltip2 target=_blank href="h\\1\2"><span>h\\1\2</span>リンク</a>' , $CON);
$CON = mb_ereg_replace("(tps?)(://[[:alnum:]\+\$\;\?\.%,!#~*/:@&=_-]+)( |　|</td>|\n)", ' <a class=iframe id=tooltip3 target=_blank href="ht\\1\2"><span>ht\\1\2</span>リンク</a>' , $CON);

//軽くするため
//$CON = mb_ereg_replace("(ttps?)(://[[:alnum:]\+\$\;\?\.%,!#~*/:@&=_-]+)$", ' <a class=iframe id=tooltip3 target=_blank href="ht\\1\2"><span>ht\\1\2</span>リンク</a>' , $CON);
//$CON = mb_ereg_replace("(tps?)(://[[:alnum:]\+\$\;\?\.%,!#~*/:@&=_-]+)$", ' <a class=iframe id=tooltip3 target=_blank href="ht\\1\2"><span>ht\\1\2</span>リンク</a>' , $CON);

//&修正
$CON = str_replace('&', '&amp;', $CON);
//-----------------------------------------------------------------------------------------------------------------------------

//------------書き換え----------------------------------------------------------------------
$myArray= array('body' => $CON,'c_commu_topic_id' => $CID);
$this->assign('c_topic',$myArray);
// ({$c_topic.body|smarty:nodefaults|nl2br|t_url2cmd:'community':$c_topic.c_member_id|t_cmd:'community'})
({/php})
({$c_topic.body|smarty:nodefaults|nl2br|t_cmd:'community'})
</div><!-- /text-->
</div>
({if $c_topic.filename && $smarty.const.OPENPNE_USE_FILEUPLOAD})
<div class="block attachFile"><ul>
<li><a href="({t_url m=pc a=do_c_file_download})&amp;target_c_commu_topic_id=({$c_topic.c_commu_topic_id})&amp;sessid=({$PHPSESSID})&amp;({$smarty.now})">({$c_topic.original_filename})</a></li>
</ul></div>
({/if})
</dd>
</dl>
({if $is_c_commu_admin || ($is_c_topic_admin && $c_commu.is_topic !== 'admin_only')})
({if $is_c_commu_member || $c_commu.is_topic == 'public'})
<div class="operation">
({t_form_block _method=get m=pc a=page_c_topic_edit})
<input type="hidden" name="target_c_commu_topic_id" value="({$c_topic.c_commu_topic_id})" />
<ul class="moreInfo button">
<li><input type="submit" class="input_submit" value="　編　集　" /></li>
</ul>
({/t_form_block})
</div>
({/if})
({/if})
</div></div>
({* }}} *})

({if $c_topic_write})
({* {{{ commentList *})
<div class="dparts commentList"><div class="parts">
<div class="partsHeading"><h3>書き込み</h3></div>

({if $pager.total_num > 20 || $pager.total_page_num > 1})
({strip})
<div class="pagerRelative">

({if $pager.total_num > 20})
({if $requests.page_size == 100})
<p><a href="({t_url m=pc a=page_c_topic_detail})&amp;target_c_commu_topic_id=({$c_topic.c_commu_topic_id})({if $requests.order == 'asc'})&amp;order=asc({/if})#commentList">20件ずつ表示</a></p>
({else})
<p><a href="({t_url m=pc a=page_c_topic_detail})&amp;target_c_commu_topic_id=({$c_topic.c_commu_topic_id})({if $requests.order == 'asc'})&amp;order=asc({/if})&amp;page_size=100#commentList">100件ずつ表示</a></p>
({/if})
({/if})

({if $pager.total_page_num > 1})
({if $requests.order == 'asc'})
<p><a href="({t_url m=pc a=page_c_topic_detail})&amp;target_c_commu_topic_id=({$c_topic.c_commu_topic_id})({if $requests.page_size == 100})&amp;page_size=100({/if})#commentList">最新を表示</a></p>
({else})
<p><a href="({t_url m=pc a=page_c_topic_detail})&amp;target_c_commu_topic_id=({$c_topic.c_commu_topic_id})({if $requests.page_size == 100})&amp;page_size=100({/if})&amp;order=asc#commentList">最初から表示</a></p>
({/if})
({/if})

</div>
({/strip})
({/if})

({capture name=pager})({strip})
<div class="pagerRelative">
({if $pager.page_prev})<p class="prev"><a href="({t_url m=pc a=page_c_topic_detail})&amp;target_c_commu_topic_id=({$c_topic.c_commu_topic_id})({if $requests.page_size == 100})&amp;page_size=100({/if})({if $requests.order == 'asc'})&amp;order=asc({/if})&amp;page=({$pager.page_prev})">前を表示</a></p>({/if})
<p class="number">({$pager.start_num})番～({$pager.end_num})番を表示</p>
({if $pager.page_next})<p class="next"><a href="({t_url m=pc a=page_c_topic_detail})&amp;target_c_commu_topic_id=({$c_topic.c_commu_topic_id})({if $requests.page_size == 100})&amp;page_size=100({/if})({if $requests.order == 'asc'})&amp;order=asc({/if})&amp;page=({$pager.page_next})">次を表示</a></p>({/if})
</div>
({/strip})({/capture})
({$smarty.capture.pager|smarty:nodefaults})

({if $smarty.const.USE_RESPONSE_COMMENT}) 
<script type="text/javascript" src="./js/comment.js"></script>
({/if})
({foreach from=$c_topic_write item=item})
<dl>
<dt>({$item.r_datetime|date_format:"%Y年<br />%m月%d日<br />%H:%M"})</dt>
<dd>
<div class="title">

<p class="heading"  style="float:left" id=({$item.number})><a style="text-decoration:none;" href=#({$item.number})><strong>({$item.number})</strong></a>:
 <a id="comment-({$item.number})-member" title="({$item.nickname})" href="({t_url m=pc a=page_f_home})&amp;target_c_member_id=({$item.c_member_id})">({$item.nickname})</a>
({if $c_member_id == $item.c_member_id || $c_member_id == $c_commu.c_member_id_admin || $c_member_id == $c_commu.c_member_id_sub_admin}) <a href="({t_url m=pc a=page_c_topic_write_delete_confirm})&amp;target_c_commu_topic_comment_id=({$item.c_commu_topic_comment_id})">削除</a>({/if})
({if $is_c_commu_member && $is_writable_comment && $smarty.const.USE_RESPONSE_COMMENT}) <a href="javascript:void(0);" onclick="response_comment_format($('comment-({$item.number})-member').getAttribute('title'), '({$item.number})', 'comment_box');return false;" ><img src="({t_img_url_skin filename=button_comment})" alt="コメント返信ボタン" /></a>({/if})

<!-- いいねボタン-->

<div style="padding-left:10px;_padding-right:10px;float:left;border:none">
({* {{{ formTable *})
({t_form_block m=pc a=do_c_topic_write_insert_c_commu_topic_comment})
<input type="hidden" name="target_c_commu_topic_id" value="({$c_topic.c_commu_topic_id})" />
<input type="hidden" name="body" _id="comment_box"  value="<!--IB;({$c_topic.c_commu_topic_id})-({$item.number})-1;({$c_member_id});--><span style='color:dodgerblue'>>>({$item.number})　いいね!</span>" />
<!--<input type="image" alt="いいね!" _width="100" _height="30" src="/etc/good.png" />-->
<input type="submit"  value="" class="ico_good" />
<input type="hidden" name="hitsuchi" value="1" />

<input type="hidden" name="nname" value="({$item.nickname})" />
<input type="hidden" name="num" value="({$item.number})" />
<input type="hidden" name="typ" value="1" />

({/t_form_block})
({* }}} *})
</div>

<div style="padding-left:10px;_padding-right:10px;float:left;border:none">
({* {{{ formTable *})
({t_form_block m=pc a=do_c_topic_write_insert_c_commu_topic_comment})
<input type="hidden" name="target_c_commu_topic_id" value="({$c_topic.c_commu_topic_id})" />
<input type="hidden" name="body" _id="comment_box"  value="<!--IB;({$c_topic.c_commu_topic_id})-({$item.number})-2;({$c_member_id});--><span style='color:indianred'>>>({$item.number})　わるいね!</span>" />
<!--<input type="image" alt="わるいね!" _width="100" _height="30" src="/etc/ng.png" />-->
<input type="submit" value=""  class="ico_n" />
<input type="hidden" name="hitsuchi" value="1" />

<input type="hidden" name="nname" value="({$item.nickname})" />
<input type="hidden" name="num" value="({$item.number})" />
<input type="hidden" name="typ" value="2" />

({/t_form_block})
({* }}} *})
</div>

({* {{{ formTable *})
({t_form_block m=pc a=do_c_topic_write_insert_c_commu_topic_comment})
<input type="hidden" name="target_c_commu_topic_id" value="({$c_topic.c_commu_topic_id})" />
<input type="hidden" name="body" _id="comment_box"  value="<!--IB;({$c_topic.c_commu_topic_id})-({$item.number})-3;({$c_member_id});--><span style='color:green'>>>({$item.number})　確認しました!</span>" />
<!--<input type="image" alt="確認!" _width="100" _height="30" src="/etc/confirm.png" />-->
<input type="submit" value=""  class="ico_c" />
<input type="hidden" name="hitsuchi" value="1" />

<input type="hidden" name="nname" value="({$item.nickname})" />
<input type="hidden" name="num" value="({$item.number})" />
<input type="hidden" name="typ" value="3" />

({/t_form_block})
({* }}} *})

<!--<br clear="all">-->
<!-- いいねボタン-->

</p>
</div>

<div class="body" id=CT({$item.number})>
({if $item.image_filename1 || $item.image_filename2 || $item.image_filename3})
<ul class="photo">
({if $item.image_filename1})<li><a href="({t_img_url filename=$item.image_filename1})" target="_blank"><img src="({t_img_url filename=$item.image_filename1 w=120 h=120})" alt="" /></a></li>({/if})
({if $item.image_filename2})<li><a href="({t_img_url filename=$item.image_filename2})" target="_blank"><img src="({t_img_url filename=$item.image_filename2 w=120 h=120})" alt="" /></a></li>({/if})
({if $item.image_filename3})<li><a href="({t_img_url filename=$item.image_filename3})" target="_blank"><img src="({t_img_url filename=$item.image_filename3 w=120 h=120})" alt="" /></a></li>({/if})
</ul>
({/if})

({php})
//コメント変更
$hoge = $this->get_template_vars('item');
//print_r($hoge);
$CON=$hoge[body];//コメント本文
$CID=$hoge[c_commu_topic_comment_id];//コメントID
$CIDN=$hoge[number];//コメントNO

//------------書き換え----------------------------------------------------------------------
//$CON= str_replace("恩田", "<hr>ゆゆゆみ<hr>", $CON); 

//行末問題対策
$CON =$CON ."\n";
//行末問題対策

//背景色
$CON = preg_replace('/\*\*\*\*\[(.*?)\](.*?)\*\*\*\*/', '<style>#CT'.$CIDN.'{background:${1};color:${2}}</style>', $CON);

$CON = preg_replace('/####(.*?)\n/', '<h3>${1}</h3>', $CON);
$CON = preg_replace('/###(.*?)\n/', '<h2>${1}</h2>', $CON);
$CON = preg_replace('/##(.*?)\n/', '<h1>${1}</h1>', $CON);

$CON = preg_replace('/\*\*\*\((.*?)\)(.*?)\*\*\*/', '<span class=LL2 style="font-size:${1}px">${2}</span>', $CON);
$CON = preg_replace('/\*\*\((.*?)\)(.*?)\*\*/', '<span class=LL style="background: linear-gradient(transparent 40%, ${1} 40%)">${2}</span>', $CON);
$CON = preg_replace('/\*\*(.*?)\*\*/', '<span class=LL>${1}</span>', $CON);

$CON = preg_replace('/;;(.*?)\n/', '<blockquote>${1}</blockquote>', $CON);

//---スライド
$pattern = "/\[slide\](.*?)\[\/slide\]/s";
if(@preg_match_all($pattern,$CON,$match)){ //最短一致で全てを取り出す
	foreach ($match[0] as $hoge2) { 
		$hoge2b=str_replace("[slide]\n","<div class=\"ticker\" rel=\"fade\"><ul><li>",$hoge2);
		$hoge2b=str_replace("\n[/slide]","</li></ul></div>",$hoge2b);
		$hoge2b=str_replace("\n","</li><li>",$hoge2b);
		$CON=str_replace($hoge2,$hoge2b,$CON);

		echo $test="
<script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js\"></script><script type=\"text/javascript\">jQuery.noConflict();var JQ$ = jQuery;</script><script type=\"text/javascript\" src=\"http://main.jp/js/jQuerySimpleNewsTicker/css/js2.js\"></script><link rel=\"stylesheet\" type=\"text/css\" href=\"http://main.jp/js/jQuerySimpleNewsTicker/css/common3.css\">";

	}
}
//---スライド

//---ボタン開け閉め
//2.正規表現
$pattern = "/\[hide\](.*?)\[\/hide\]/s";
if(@preg_match_all($pattern,$CON,$match)){ //最短一致で全てを取り出す
	$i=1;
	foreach ($match[0] as $hoge2) { 
		$CON = str_replace($hoge2, "<span id=\"slide".$CID."_".$i."\"><img id=HDD style=\"padding:0px 5px 0px 15px\" src=/etc/tool.png></span><nav id=\"menubar".$CID."_".$i."\" style=\"padding:5px 10px;display: none;\">".$hoge2."</nav>", $CON );
	$i++;
	}
}
$CON=str_replace("[hide]","",$CON);
$CON=str_replace("[/hide]","",$CON);
//-------------ボタン開け閉め-------------
$j=1;	
while($j < $i){
$CONJ .= <<< EOM
<script>JQ$('#slide{$CID}_{$j}').click(function(){if (JQ$('#menubar{$CID}_{$j}').css('display') == 'none') {JQ$('#menubar{$CID}_{$j}').slideDown('slow');} else {JQ$('#menubar{$CID}_{$j}').slideUp('fast');}});</script>
EOM;
$j++;
}

$CON=$CON.$CONJ;
unset($i);
unset($j);
unset($CONJ);

//テーブル
$CON=str_replace("\t","</td><td>",$CON);
$CON = preg_replace('/<td>(.*?)\n/', '<td>${1}</td></tr>XXX', $CON);
$CON=str_replace("XXX</td>","<tr>",$CON);
$CON=str_replace("\n</td>","<br/><table><tbody><tr>",$CON);
$CON=str_replace("</tr>XXX","</tr></tbody></table>",$CON);

$CON = preg_replace('/---\n/', '<hr/>', $CON);
$CON = preg_replace('/- (.*?)\n/', '<li id=XX>${1}</li>', $CON);

//-----------------------------------------------------------------------------------------------------------------------------
//画像リンク
//-----------------------------------------------------------------------------------------------------------------------------

$CON = mb_ereg_replace("(https?)(://[[:alnum:]\+\$\;\?\.%,!#~*/:@&=_-]+)(.jpg|.jpeg|.png|.gif)( |　|\n)", '<a class=iframe href="\\1\2\3"><img style="max-width:100%;" src="\\1\2\3"></a>\4' , $CON,'i');
$CON = mb_ereg_replace("(https?)(://[[:alnum:]\+\$\;\?\.%,!#~*/:@&=_-]+)(.jpg|.jpeg|.png|.gif)</li>", '<a class=iframe href="\\1\2\3"><img style="max-width:100%;" src="\\1\2\3"></a></li>' , $CON,'i');
//$CON = mb_ereg_replace("(https?)(://[[:alnum:]\+\$\;\?\.%,!#~*/:@&=_-]+)(.jpg|.jpeg|.png|.gif)$", '<a class=iframe href="\\1\2\3"><img style="max-width:100%;" src="\\1\2\3"></a>' , $CON,i);

// aリンク
//ボタン
$CON = mb_ereg_replace("(https?)(://mimi.jp/set/)([a-zA-Z0-9_\-\?\/\=\&]+)", '<iframe style="width:430px; height:150px" align="top" src="\\1\2\3" frameborder="0" scrolling="no"></iframe>' , $CON);
//スライドショー
$CON = mb_ereg_replace("(https?)(://mimi.jp/etc/up-wef23f82fouhwq-_wef/_slide.php)([a-zA-Z0-9_\-\.\?\=]+)", '<iframe style="width:430px; height:400px" align="top" src="\\1\2\3" frameborder="0" scrolling="no"></iframe>' , $CON);
//フレーム表示用
$CON = mb_ereg_replace("(https?)(://mimi.jp/etc/ph/clanceyp-youtube-video-gallery-9a234de/)([a-zA-Z0-9_\-\.\?\=\/&]+)", '<iframe style="width:430px; height:400px" align="top" src="\\1\2\3" frameborder="0" scrolling="no"></iframe>' , $CON);

//動画
$CON = mb_ereg_replace("(https?)(://www.youtube.com/watch\?v\=)([a-zA-Z0-9_]+)", '<div style="border-top:none;text-align:center"><iframe style="width:400px; height:300px" align="top" src="https://www.youtube.com/embed/\3" frameborder="0" allowfullscreen></iframe></div>' , $CON);

//aリンク
$CON = mb_ereg_replace("(https?)(://[[:alnum:]\+\$\;\?\.%,!#~*/:@&=_-]+)(?!.jpg|.png|.gif)( |　|</td>)", ' <a target=_blank href="\\1\2">\\1\\2</a> ' , $CON);
$CON = mb_ereg_replace("(https?)(://[[:alnum:]\+\$\;\?\.%,!#~*/:@&=_-]+)(?!jpg|.png|.gif)(\n)", '<a target=_blank href="\\1\2">\\1\\2</a><br/>' , $CON);
//$CON = mb_ereg_replace("(https?)(://[[:alnum:]\+\$\;\?\.%,!#~*/:@&=_-]+)(?!.jpg|.png|.gif)$", ' <a target=_blank href="\\1\2">\\1\\2</a> ' , $CON);

//ボタンでリンク
//直接ボタン
$CON = mb_ereg_replace("(\[\[(.*?)\|)(ttps?)(://[[:alnum:]\+\$\;\?\.%,!#~*/:@&=_-]+)(\]\])( |　|</td>|\n)", ' <a id=tooltip2 target=_blank href="h\3\4"><span>h\3\4</span>\2</a>' , $CON);
$CON = mb_ereg_replace("(\[\[(.*?)\|)(tps?)(://[[:alnum:]\+\$\;\?\.%,!#~*/:@&=_-]+)(\]\])( |　|</td>|\n)", ' <a  class=iframe id=tooltip2 target=_blank href="ht\3\4"><span>ht\3\4</span>\2</a>' , $CON);

$CON = mb_ereg_replace("(ttps?)(://[[:alnum:]\+\$\;\?\.%,!#~*/:@&=_-]+)( |　|</td>|\n)", ' <a id=tooltip2 target=_blank href="h\\1\2"><span>h\\1\2</span>リンク</a>' , $CON);
$CON = mb_ereg_replace("(tps?)(://[[:alnum:]\+\$\;\?\.%,!#~*/:@&=_-]+)( |　|</td>|\n)", ' <a class=iframe id=tooltip3 target=_blank href="ht\\1\2"><span>ht\\1\2</span>リンク</a>' , $CON);

//軽くするため
//$CON = mb_ereg_replace("(ttps?)(://[[:alnum:]\+\$\;\?\.%,!#~*/:@&=_-]+)$", ' <a class=iframe id=tooltip3 target=_blank href="ht\\1\2"><span>ht\\1\2</span>リンク</a>' , $CON);
//$CON = mb_ereg_replace("(tps?)(://[[:alnum:]\+\$\;\?\.%,!#~*/:@&=_-]+)$", ' <a class=iframe id=tooltip3 target=_blank href="ht\\1\2"><span>ht\\1\2</span>リンク</a>' , $CON);

//&修正
$CON = str_replace('&', '&amp;', $CON);
//-----------------------------------------------------------------------------------------------------------------------------

//------------書き換え----------------------------------------------------------------------
$myArray = array('body' => $CON);
$this->assign('item',$myArray);
//({$item.body|smarty:nodefaults|nl2br|t_url2cmd:'community':$item.c_member_id|t_cmd:'community'})
({/php})
<div style="border-top:0px solid silver !important; padding:5px 5px;" _class="text">({$item.body|smarty:nodefaults|nl2br|t_cmd:'community'})</div>

<!--いいね結果-->
({php})
$CTID=$hoge[$c_topic.c_commu_topic_id];
if($IINE[$CTID."-".$CIDN."-1"]<>""){
echo "<p id=good><img src=http://minibird.jp/etc/good0.png>&nbsp;".$IINE[$CTID."-".$CIDN."-1"]."</p>";
}
if($IINE[$CTID."-".$CIDN."-2"]<>""){
echo "<p id=ng><img src=http://minibird.jp/etc/ng0.png>&nbsp;".$IINE[$CTID."-".$CIDN."-2"]."</p>";
}
if($IINE[$CTID."-".$CIDN."-3"]<>""){
echo "<p id=confirm><img src=http://minibird.jp/etc/cf0.png>&nbsp;".$IINE[$CTID."-".$CIDN."-3"]."</p>";
}
({/php})
<!--いいね結果-->

</div>
({if $item.filename && $smarty.const.OPENPNE_USE_FILEUPLOAD})
<div class="block attachFile"><ul>
<li><a href="({t_url m=pc a=do_c_file_download})&amp;target_c_commu_topic_comment_id=({$item.c_commu_topic_comment_id})&amp;sessid=({$PHPSESSID})&amp;({$smarty.now})">({$item.original_filename})</a></li>
</ul></div>
({/if})
</dd>
</dl>
({/foreach})

({$smarty.capture.pager|smarty:nodefaults})

</div></div>
({* }}} *})
({/if})

({/if})

({if $is_c_commu_member || ($c_commu.is_comment == 'public')})
({if $is_writable_comment})
({* {{{ formTable *})
<div class="dparts formTable" id="commentForm"><div class="parts">
<div class="partsHeading"><h3>新しく書き込む</h3></div>
({t_form_block _enctype=file m=pc a=page_c_topic_write_confirm})
<input type="hidden" name="target_c_commu_topic_id" value="({$c_topic.c_commu_topic_id})" />
<table>
<tr>
<th>本文</th>
<td><textarea name="body" id="comment_box" rows="10" cols="50">({$body})</textarea></td>
</tr>
<tr>
<th>写真1</th>
<td><input type="file" class="input_file" name="image_filename1" size="40" /></td>
</tr>
<tr>
<th>写真2</th>
<td><input type="file" class="input_file" name="image_filename2" size="40" /></td>
</tr>
<tr>
<th>写真3</th>
<td><input type="file" class="input_file" name="image_filename3" size="40" /></td>
</tr>
({if $smarty.const.OPENPNE_USE_FILEUPLOAD})

<tr>
<th>ファイル</th>
<td>

<!--
<input type="file" class="input_file" name="uploadfile" size="40" />
<p class="caution">※ファイルサイズは({$smarty.const.FILE_MAX_FILESIZE})KB以内({if $allowed_extensions})、ファイルの種類は(({$allowed_extensions}))({/if})のファイルがアップロードできます。</p>
-->

<p class="caution"><a class=iframe href=http://mymt.minibird.jp/etc/up-wef23f82fouhwq-_wef/index.php>ファイルアップ</a>
&nbsp;&nbsp;<a class=iframe href=http://mimi.mimi.jp/etc/up-wef23f82fouhwq-_wef/index.php>画像アップ</a>
</p>

</td>
</tr>

({/if})

<tr>
<th>非通知</th>
<td><input type="checkbox"  id="comment_box"  value="1" name="hitsuchi"  /></td>
</tr>

<tr>
<th>プレビュー</th>
<td><input type="checkbox"  id="comment_box"  value="1" name="preview"  /></td>
</tr>

</table>
<div class="operation">
<ul class="moreInfo button">
<li><input type="submit" class="input_submit" value="確認画面" /></li>
</ul>
</div>
({/t_form_block})
</div></div>
({* }}} *})
({else})
({* {{{ simpleBox *})
<div class="dparts simpleBox"><div class="parts">
<div class="partsHeading"><h3>コメントを書く</h3></div>
<div class="block">
<p>コメントが1000番に達したので、このトピックにはコメントできません。</p>
</div>
</div></div>
({* }}} *})
({/if})
({/if})

({* {{{ linkLine *})
<div class="parts linkLine"><ul class="moreInfo">
<li><a href="({t_url m=pc a=page_c_home})&amp;target_c_commu_id=({$c_commu.c_commu_id})">[({$c_commu.name})]({$WORD_COMMUNITY})トップへ</a>
<a href=#Body>ページトップへ</a>
</li>
</ul></div>
({* }}} *})

</div><!-- Center -->
</div><!-- LayoutC -->
